.wbb-banner-vertical {
    width: 223px;
    height: 610px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.wbb-banner-left {
    background: url(../images/meet-partners.png?v=2) no-repeat;
}

.wbb-banner-right {
    background: url(../images/check-eligibility.png?v=2) no-repeat;
}

.wbb-banner-vertical input {
    border: 0 !important;
    padding: 0 5px !important;
    margin: 0 10px !important;
    position: absolute;
    top: 100px;
    width: 203px !important;
    height: 30px !important;
    border-radius: 5px !important;
}

.wbb-banner-horizontal {
    display: none;
    padding: 0 25%;
    text-align: center;
}

.wbb-banner-horizontal p {
    text-align: center;
    text-transform: uppercase;
    color: #737373;
    font-size: 12px;
}

.wbb-banner-horizontal span {
    color: #FFF;
    display: block;
}

.wbb-banner-horizontal input {
    border: 0 !important;
    padding: 0 5px !important;
    border-radius: 5px !important;
    background: #FFF !important;
    height: 30px !important;
    width: 100% !important;
}

@media screen and (max-width: 1400px) {

    .wbb-banner-vertical {
        display: none;
    }

    .wbb-banner-horizontal {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .wbb-banner-horizontal span {
        color: #FFF;
        display: inline;
    }

    .wbb-banner-horizontal {
        padding: 0 10px;
    }

    .wbb-banner-horizontal input {
        margin-bottom: 0 !important;
    }
}